.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .item {
    width: 200px;
    list-style: none;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .link {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  